/* common style */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
main, header{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 80px;
}
/* Header style
-------------------- */
.header-influencer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    margin-bottom: 70px;
}
.icone{
    text-decoration: none;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-content: space-between;
    align-items: center;
}
/* main start---------- */
/* 1st section */
.camera{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
}
.camerapic{
    margin-left: 80px;
    background-image: url(./images/Circle\ design.svg);
}
.camera h1{
    font-size: 60px;
}
.camera button{
    color: rgb(251, 251, 251);
    background-color: deeppink;
    border-radius: 90px;
    border: none;
    font-size: 18px;
    padding: 10px 25px 10px 25px;
    justify-content: space-between; 
}
/* 1st section End 
-----------------------------------*/
/* Online Shopping logo */
.onlineshopping{
    margin-top: 110px;
    border: 1px solid gray;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-content: center;
}
/* Popular Collection start */
.popular{
    margin-top: 110px;
}
.popular h2{
    text-align: center;
    margin-bottom: 70px;
}
.collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: space-between;
    padding: 15px;
    box-shadow: 2px 2px 9px gray;
}
.pic{
    width: 100%;
}
.details{
    text-align: left;
}
.details h2{
    text-align: left;
    margin-bottom: 15px;
}
.reating{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    font-size: 11px;
    color:black;
}
.star{
    color: #FB8200;
    margin-bottom: 0;
}
h3{
    font-size: 15px;
    margin-top: 0;
}
.see-more{
    color: deeppink;
    margin-left: 280%;
    font-size: 20px;
    width: 200px;
    border: none;
    background-color: white;
}
/* end product style */
.end-section{
    margin-top: 80px;
}
.featured-text h1{
    font-size: 36px;
}
/* End all section Style */

/* --------
footer style
----------------- */
.footer-div{
    background-color: rgb(28, 7, 79);
    color: white;
    text-align: center;
    margin-top: 70px;
    padding-top: 70px;
    padding-bottom: 30px;
}
.footer-div h3{
    font-size: 27px;
    margin-bottom: 5px;
}
.footer-div h4{
    font-size: 15px;
    font-weight: 200;
    margin-top: 0;
}
/* End */